.vansWrapper {
    background: #FFF7ED;
    padding: 54px 27px 0 27px;
}

.vansWrapper > h2 {
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    margin-bottom: 22px;
}

.filterBtn {
    display: inline-flex;
    width: 104px;
    height: 37px;
    border-radius: 5px;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #4D4D4D;
    background: #FFEAD0;
    justify-content: center;
    align-items: center;
}

.clearFilterBtn {
    border: none;
    background: transparent;
    border-bottom: 2px solid grey;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color:#4D4D4D;
}

.clearFilterBtn:hover {
    color:black;
}

.filters {
    margin-bottom: 55px;
}

.filters > button {
    cursor: pointer;
}
.filters > a:nth-child(-n + 2) {
    margin-right: 20px;
}

.filters > a:nth-child(3) {
    margin-right: 40px;
}

.vanList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.vansWrapper {
    padding-inline: 23px;
    padding-bottom: 80px;
}

.vansWrapper button {
    margin-right: 20px;
    cursor: pointer;
}


.filterBtn.simple:hover {
    background-color: #E17654;
    color: #FFF7ED;
}

.filterBtn.rugged:hover{
    background-color: #115E59;
    color: #FFF7ED;
}

.filterBtn.luxury:hover{
    background-color: #161616;
    color: #FFF7ED;
}

.simple.selected {
    background-color: #E17654;
    color: #FFF7ED;
}

.luxury.selected {
    background-color: #115E59;
    color: #FFF7ED;
}

.rugged.selected {
    background-color: #161616;
    color: #FFF7ED;
}