* {
    text-decoration: none;
}

.vanList > a {
    color: #161616;
    text-decoration: none;
}

.vanTile {
    width: 600px;
    color: #161616;
    text-decoration: none;
}

.vanTile > img {
    max-width: 100%;
    border-radius: 5px;
}

.vanTile a > img {
    width: 100%;
    border-radius: 5px;
}

.vanList > img {
    width: 100%;
    border-radius: 5px;
}

.vanType {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

.vanType:hover {
    color: #FFEAD0;
}

.vanType:focus {
    outline: none;
}

.vanType.selected {
    color: #FFEAD0;
}

.vanType.simple:hover, .vanType.simple.selected {
    background-color: #E17654;
}

.vanType.rugged:hover, .vanType.rugged.selected {
    background-color: #115E59;
}

.vanType.luxury:hover, .vanType.luxury.selected {
    background-color: #161616;
}

.vanType.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.vanInfo {
    display: flex;
    justify-content: space-between;

}

.vanInfo > h3 {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.vanInfo > p {
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    /*line-height: 32px;*/
    letter-spacing: 0em;
    text-align: right;
}

.vanInfo > p > span {
    font-family: Prompt;
    font-size: 14px;
    font-weight: 500;
    /*line-height: 32px;*/
    letter-spacing: 0em;
    text-align: right;

}